*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #000;
    color: white;
    padding: 13px;

}

.grid{
    /* background-color: #f0f0f0; */
    width: 1000px;
    margin: 0 auto;
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:repeat(14, auto);
}


.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.688);
    font-size: 13px;
    font-family: "Arial", sans-serif;


}